
body {
    background-color: black;
}
.searche {
    height: 36px;
    max-width: 500px;
    border: 0;
    background-color: #38434f;    
  }
  
  .rivcan {
    background-color: #38434f;
    height: 10px;
    max-width: 10px;
    border: 0;
  }
  
  input.searche::placeholder {
    font-size: 15px;
    background-image: url("img/Yeni\ Metin\ Belgesi.svg");
    background-repeat:no-repeat;
    background-size: 8%;
    background-position: 0% 50%;
    padding-left: 23px;
  }

  .color-grey {
    background-color:rgb(27, 32, 32) ;
  }
  
  .nav-item {
    color: gray;
  }
  
  .card{
    border: none;
    border-radius: 15px;
    background-color:rgb(27, 32, 32) ;
   }

   .upper img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }

   .user{
    position: relative;
   }
   
   .profile{

    position: absolute;
    top:-45px;
    left: 35%;
    height: 71px;
    width: 72px;
    border:2px solid rgb(27, 32, 32);

    border-radius: 50%;

   }

   .back {
    border: none;
    border-radius: 15px;
    background-color:rgb(27, 32, 32) ;
   }
   .artdeco-button {
    border-radius: 30px;
    background-color: initial;
    border: 1px solid gray;
    
   }
   .riv {
    margin-left: -9px;
   }
   .riv2 {
    margin-left: -8px;
   }
.sol {
  margin-right:-40px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}



.under:hover {
background-color: rgb(87, 90, 92);

}

.bandır {
  color: rgb(150, 148, 148);
  text-decoration: none;
}

.bandır:hover {
  color: #70b5f9 ;
  text-decoration: underline;
}

.narbar {
  color: rgb(150, 148, 148);
}

.narbar:hover {
  color: aliceblue;
}

.sitikiy {
  position: sticky;
 top:4em;

}

.sitikiy1 {
  position: sticky;
  top: 20em;
}
.sitikiy2 {
  position: sticky;
  top: 22em;
}
.sitikiy3 {
  position: sticky;
  top: 24em;
}
.sitikiy4 {
  position: sticky;
  top: 26em;
}
.sitikiy5 {
  position: sticky;
  top: 28em;
}